/* Among.css */

.AmongUS {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 6px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  .AmongUS:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  .AmongUS svg {
    transition: all .5s ease;
    z-index: 2;
    /* width: 40px; */


  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
    font-size: 150%; /*size of HELPLINE increased*/
  }
  
  .AmongUS:hover svg {
    transform: scale(3) translate(50%);
    
    
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: 2;
    
  }
  
  .AmongUS:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
    font-size: 200%; /*size of SERVICE increased*/ 
  }
  
  .AmongUS:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  